
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.burger-button {
  border: none;
  background-color: transparent;
  font-size: 1.8em;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(90deg);
}